li.wow svg {
    vertical-align: middle;
    width: 1.5em;
    margin: 5px;
}

a.btn svg {
    vertical-align: middle;
    width: 1.5em;
}

.idioma li {
    width: 20%;
}

.idioma {
    text-align: center;
}
